@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #fff;
}

.hero
{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img
{
    width: 30px;
    height: 30px;
}

.navbar
{
    display: flex;
    padding: 10px 10px;
}

.navlinks
{
    display: inline-block;
}

.navlinks li
{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 13pt;
    letter-spacing: 1.1pt;
    padding: 10px 20px;
    display: inline-block;
}

.menu img
{
    width: 30px;
    height: 30px;
}

.content
{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    ;
}

.content img
{
    width: 40%;
    height: auto;
}

.details
{
    justify-content: left;
    align-items: center;
}

h1
{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 50pt;
    letter-spacing: 1.1pt;
    padding: 10px 20px;
}

h2
{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15pt;
    letter-spacing: 1.1pt;
    padding: 10px 20px;
}